body{
    background-color: black;
    color: #e0dfdf;
}

html {
    scroll-behavior: smooth;
}

/* header */
header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    background-image: url(../img/bg.gif);
    background-position: top;
    background-size: cover;
    text-align: center;
    padding-top: 380px;
}

header h1{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5em;
    margin: 0;
    text-shadow: 2px 3px black;
    color: white;
}

header h1 span{
    color: red;
}

header p{
    margin: 0;
}

header button{
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 20px;
    font-size: 1em;
    padding: 7px 25px;
    margin-top: 18px;
    cursor: pointer;
    outline: none;
}

/* navbar */
nav ul{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #171616;
    font-size: 1.1em;
    padding: 30px;
    margin-top: 35px;
}

nav ul li{
    margin: 0 15px;
}

nav ul li span{
    background-color: red;
    font-size: 2em;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 100%;
}

/* main - games */
#games{
    font-family: Tahoma, sans-serif;
    font-size: 0.75em;
    margin-top: 65px;
}

#games p{
    font-weight: bold;
    margin-bottom: -30px;
}

#games p span{
    color:red;
}

.games-container figure{
    position: relative;
    margin: 0;
    margin-right: 15px;
    margin-top: 40px;
}

.games-container img{
    cursor: pointer;
}

.play-button{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 20%;
}

.games-container figcaption{
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}

.games-container{
    display: flex;
    flex-wrap: wrap;
}

/* responsive */
@media all and (max-width: 1590px){
    .games-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }
}

@media all and (max-width: 795px){
    body{
        font-size: 0.8em;
    }

    nav ul{
        padding: 0;
    }

    nav ul li{
        flex-basis: 100%;
        margin: 25px;
    }

    #games{
        margin-top: 40px;
    }

    .games-container .game{
        width: 200px;
    }

    .play-button{
        width: 100px;
        top: 20%;
        left: 28%;
    }

    .games-container figure{
        text-align: center;
        flex-basis: 40%;
    }
}

@media all and (max-width: 585px){
    header{
        font-size: 1em;
        background-size: 290%;
        background-repeat: no-repeat;
        padding-top: 65%;
    }
}

@media all and (max-width: 495px){
    .games-container .game{
        width: 150px;
    }

    .play-button {
        width: 70px;
        top: 23%;
        left: 30%;
    }    

    .games-container{
        width: 100%;
    }
}

@media all and (max-width: 346px){
    .games-container .game{
        width: 100px;
    }

    .play-button {
        width: 70px;
        top: 15%;
        left: 20%;
    }  

    .games-container{
        width: 100%;
    }

    .games-container figure{
        margin-right: 0;
    }
}