body{
    text-align: center;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    height: 100vh;
}

header{
    margin-bottom: 40px;

    button{
        outline: none;
        background-color: #5aa003;
        border: 10px rgb(186, 183, 183) outset;
        font-size: 1.5em;
        color: #f3f3f3;
        border-radius: 30px;
        cursor: pointer;
        padding: 25px 50px;
        font-family: 'Open Sans', sans-serif;
        &:hover{ background-color: #7dde04; }
        span{ font-size: 1.7em; }
    }
}

main{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;

    .card{
        width: 25%;
        margin-bottom: 20px;

        .front{
            width: 180px;
            height: 160px;
            border-radius: 4px 4px 0 0;
        } 

        .back{
            position: absolute;
            width: 180px;
            height: 201px;
            margin-left: -180px;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px black;
            cursor: pointer;
        }

        p{
            background-color:#359c1b;
            color: white;
            width: 180px;
            margin: auto;
            margin-top: -6px;
            padding: 13px 0;
            letter-spacing: 0.025em;
            border-radius: 0 0 4px 4px;
            word-spacing: -1px;
        }
    }
   
}

// animation
.fade-in{
    animation-name: fade-in;
    animation-duration: 0.5s;
}

@keyframes fade-in{
    0%{opacity: 0;}
    100%{opacity: 100%}
}


// responsive
@media all and (max-width: 820px){
    main{
        width: 90%;
        .card{width: 30%;}
    }
}


@media all and (max-width: 700px){
    header{
        button{ 
            padding: 10px 15px; 
            font-size: 1em;
        }
    }
    main{
        width: 100%;
        .card{
            .front{
                width: 80px;
                height: 90px;
                border-radius: 4px;
            }

            p{ 
                display: none;
            }

            .back{
                width: 80px;
                height: 90px;
                margin-left: -80px;
            }
        }
    }
}

@media all and (max-width: 285px){
    main{
        width: 100%;
        .card{
            .front{
                width: 60px;
                height: 80px;
            }

            .back{
                width: 60px;
                height: 80px;
                margin-left: -60px;
            }
        }
    }
}