.single {
    padding: 2px 16px;
    background-color: #ffffff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #ffffff;
}

.singleDetails {
    padding: 2px 6px;
    background-color: #ffffff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #ffffff;
}

.single:hover {
    border-left: 8px solid #4979ff;
    cursor: pointer;
}