nav{
    width: 85%;
    margin: auto;

    ul{
        padding: 0;
        display: flex;
        list-style-type: none;
        
        img{
            padding: 0;
        }

        li{
            margin: 15px 35px 15px 0;

            a{
                text-decoration: none;
                color: $grayish-violet;
                font-size: 0.9em;

                &:hover{ color: black; }
            }

            &:first-child{ margin: 15px 50px 15px 0; }
            &:nth-child(4){ flex: 1; }
            &:last-child{ 
                @include btn;
                margin: 10px 0 20px 0;
                
                a{
                    color: white;
                    &:hover{ 
                        color: white; 
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}