// colors
$cyan: hsl(180, 66%, 49%);
$violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$dark-blue: hsl(255, 11%, 22%);
$dark-violet: hsl(260, 8%, 14%);

//font-family
$poppins: 'Poppins', sans-serif;

//mixin for buttons
@mixin btn {
    cursor: pointer;
    font-family:$poppins;
    border: none;
    outline: none;
    background-color: $cyan;
    padding: 5px 22px;
    border-radius: 28px;
    color: white;

    &:hover{ 
        color: white; 
        opacity: 0.7;
    }
}

.fade-in{
    animation-name: fade-in;
    animation-duration: 0.8s;
}

.fade-out{
    animation-name: fade-out;
    animation-duration: 1s; 
}

@keyframes fade-in{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

@keyframes fade-out{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}

.invalid{
    border: 2px solid $red;
    &::placeholder{ color: $red; }
}