@import 'utilities';

html{ overflow-x: hidden; }

body{
    font-family: $poppins;
    font-size: 18px;
}

@import 'nav';
@import 'header';
@import 'main';
@import 'short-link';
@import 'footer';


.attribution { font-size: 13px; text-align: center; margin-top: 5px; }
.attribution a { color: #5e30c7; }   

@import 'responsive';