.details{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;

    img{ 
        width: 200px; 
        margin-right: 40px;
    }

    .details-info{
        align-self: center;
        margin-left: 40px;

        h2{ margin: 10px 0; }
        p{ margin: 5px 0; }
    }

    .description{
        margin-top: 50px;
        margin-bottom: 50px;
        flex-basis: 100%;

        h3{ margin-bottom: 0; }
        p{ 
            margin-top: 10px; 
            margin-bottom: 5px;
        }
        a{ font-size: 0.9em; }
    }
}

//responsive
@media all and (max-width: 870px){
    .details{
        width: 90%;
        img{ margin-right: 0; }
    }
}

@media all and (max-width: 540px){
    .details{
        margin-top: 40px;
        img{ width: 150px; }
        .description{ margin-top: 20px; }
    }
}