.signup,.login{
    .message{
        width: 400px;
        position: absolute;
        top: -40px;
        padding: 10px;
        letter-spacing: 0.02em
    }
}

.message{
    width: fit-content;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
}


