header{
    display: flex;
    justify-content: space-between;
    padding: 40px 5%;
    align-items: center;
    background-color: #6495ed;
    box-shadow: 0px 1px 8px 0px #2d2d2d;

    .logo{ 
        font-size: 2em;
        color: #2d2d2d; 
    }

    i{ color: #faebd7; }

    ul{ 
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li{ margin: 0 10px; }

        a{ 
            padding: 3px 8px;
            text-decoration: none; 
            color: #f1f1f1;
            cursor: pointer;

            &:hover{
                color: #2d2d2d;
                background-color: #faebd7;
                border-radius: 5px;
                transition: all 0.5s;

                i{
                    color: #6495ed;
                    transition: color 1s;
                }
            }
        }

        &:first-of-type{
            justify-content: space-between;
            flex: 1;
            max-width: 40vw;
        }
    }

    // non home page
    button{
        font-size: 1em;
        background-color: antiquewhite;
        border-radius: 30px;
        padding: 13px 30px;
        border: 0px solid antiquewhite;
        border-bottom: 3px solid lighten(#2d2d2d, 15%);
        outline: none;
        cursor: pointer;
        &:hover{ opacity: 0.8; }

        a{ 
            text-decoration: none; 
            color: #2d2d2d;
        }
        i{ color: #2d2d2d; }
    }

    .add-book, .remove-book{
        background-color: #ec5656;
        color: #faebd6;
        &:hover{ 
            opacity: 1; 
            transform: scale(1.01)
        }

        i{ color: #6494ed; }
    }

    .user-logout{
        display: flex;
        align-items: baseline;
    }
}

// Responsive
@media all and (max-width: 930px){
    header{
        padding: 25px 5%;
        flex-wrap: wrap;

        .logo{
            margin-bottom: 10px;
            flex-basis: 100%;
            text-align: center;
        }

        ul:first-of-type{ max-width: 400px; }
    }
}

@media all and (max-width: 665px){
    header{
        ul:first-of-type{ 
            flex-basis: 100%; 
            margin-bottom: 10px;
        }
    }
}

@media all and (max-width: 500px){
    header{
        ul{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            li{ margin:0; }
            &:first-of-type{ 
                max-width: 265px; 
            }
        }  
        
        button{ padding: 10px 25px; }
        .user-logout{ button{ margin-left: 10px; } }
    }
}

@media all and (max-width: 300px){
    header{
        ul{
            justify-content: center;
            
            &:first-of-type{ 
                justify-content: center; 
            }
        }

        form{ margin: 30px 5px; }
    }
}
