.signup{
    color: #2d2d2d;
    display: flex;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
    position: relative;

    img{
        position: absolute;
        z-index: -1;
        width: 600px;
        top: -20px;
    }

    h2{ text-decoration: underline; }

    form{
        display: flex;
        flex-direction: column;

        div{ margin-bottom: 20px; }

        input{ 
            font-size: 1.5em;
            color: #2d2d2d; 
        }

        button{
            color: #faebd6;
            background-color: #6494ed;
            font-size: 1em;
            border: none;
            padding: 20px;
            margin-top: 10px;
            outline: none;
            letter-spacing: 0.03em;
            cursor: pointer;
            border-radius: 2px;
            &:active{ transform: scale(0.98); }
        }
    }
}


//responsive
@media all and (max-width:600px){
    .signup{
        margin-top: 50px;
        img{ 
            width:500px; 
            top: -5px;
        }
        form div{ margin-bottom: 10px; }
    }
}

@media all and (max-width:500px){
    .signup{
        margin-top: 65px;
        img{ 
            width:400px; 
            height: 115%;
            top: -20px;
        }
    }
}

@media all and (max-width:400px){
    .signup{
        margin-top: 65px;
        padding: 0 5%;
        img{ 
            width:130%; 
            height: 130%;
        }
    }
}