body {
    font-size: 1.2em;
    font-family: system-ui, sans-serif;
    letter-spacing: 0.01em;
    background-image: url('https://i.pinimg.com/originals/85/70/f6/8570f6339d3189c96e340d47a581d3b8.jpg');
    background-color: #fd974f;
    color: #494541;
}

button {
    cursor: pointer;
}

#chat {
    width: 700px;
    height: 80vh;
    border: 10px outset #a9a298;
    margin: auto;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-radius: 20px;
    background-color: rgba(252,249,244,0.75);
}

#chat-area {
    width: 100%;
    max-height: 80%;
    overflow-y: overlay;
}

#chat-area p {
    margin: 10px 5px;
}

#chat form {
    width: 80%;
    margin: auto;
    text-align: center;
}

#chat-name, #chat-text, #chat-send {
    width: 100%;
    margin: 2px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: system-ui, sans-serif;
    letter-spacing: 0.01em;
    color: #494541;
}

#chat-send {
    font-weight: bold;
    outline: none;
    background-color: #f0f0ef;
}

#chat-feedback {
    flex: 1;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 3px solid #55514C;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
    background-color: #F4F1EB;
    width: 300px;
    max-width: 80%;
    transition: all 0.3s;
    pointer-events: none;
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
}

#modal input, #modal button {
    width: 100%;
    box-sizing: border-box;
    color: #494541;
    font-size: 0.9em;
    padding: 5px;
}

#modal input{
    margin-top: 10px;
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#error {
    color: #FF0033;
    margin: 0;
    text-align: left;
    font-size: 0.85em;
    position: relative;
    top: 3px;
}

#user-name {
    margin: 0 5px;
    text-align: left;
    color: green;
}

@media all and (max-width: 780px) {
    body {
        font-size: 1em;
    }
    
    #chat {
        width: auto;
    }

    #chat-name, #chat-text, #chat-send {
        width: 99%;
        font-size: 0.9em;
    }

    #chat form {
        width: 100%;
    }    
}


